.wp-block-heading
{
		Display:none;
}
.subheadline
{
		color:yellow;
}
#iconContainer{
		height:750px;
}
.sow-google-map-canvas
{
		Display:none;
}
.wp-block-post-title
{
		Display:none;
}
.sow-headline
{
		color:wheat;
}
.sow-headline{
		color:wheat;
}